[Unit]
Description=Earthworm Exporter Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/earthworm/run_working/ew_exporter
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /opt/earthworm/run_working/ew_exporter/exporter.py
Restart=always
RestartSec=10

# Hardening
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target